.simple-cookie-banner {
  all: unset;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-family: inherit;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.simple-cookie-banner * {
  color: inherit;
  font-size: 0.9rem;
}

.simple-cookie-banner__message {
  margin-right: 2rem;
}

.simple-cookie-banner__buttons {
  display: flex;
  gap: 1rem;
}

.simple-cookie-banner button {
  all: unset;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 1px solid #fff;
}

.simple-cookie-banner button:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 700px) {
  .simple-cookie-banner {
    display: block;
  }

  .simple-cookie-banner p {
    margin-bottom: 1rem;
  }
}
